.main {
  width: 100vw;
  height: 100vh;
  background: $pageColor;
  display: flex;
  align-items: center;
  justify-content: center;

  &__h1 {
    color: $letterColor;
    width: 200px;
    text-align: center;
    text-transform: capitalize;
    font-size: 30px;
  }
}
