<form action="https://formspree.io/mvopnvvo" method="POST">
  <label for="name">nombre completo</label>
  <input placeholder="Jon Nieve" id="name" type="text" name="name" required />
  <label for="email">correo electrónico</label>
  <input placeholder="jonnieve@gmail.com" id="email" type="email" name="email" required />
  <label for="phone">Teléfono</label>
  <input placeholder="654321901" type="tel" name="phone" required />
  <label for="comments">Mensaje</label>
  <textarea id="comments" name="comments" rows="3" col="10"></textarea>
  <input type="submit" value="enviar" />
</form>
