<header class="header">
  <a class="anchor__header" id="header"></a>

  <div class="header__logo">
    <a class="link" href="index.html#header" title="Volver"><img src="./assets/images/adalab-logo-155x61.png" alt="Logo de Adalab"/></a>
  </div>

  <nav>
    <ul class="header__menu">
      <li class="header__menu__blog">
        <a href="https://www.wikipedia.com" title="Más info" target="_blank">blog</a>
      </li>

      <li class="header__menu__contacto"><a href="https://www.wikipedia.com" title="Sobre mí" target="_blank"> contacto</a></li>
    </ul>
  </nav>
</header>
