.form {
  height: 100vh;
  background: $pageColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  input {
    width: 80%;
    height: 2em;
    margin: 0px;
    border: 0px;
    padding-left: 5px;
    box-sizing: border-box;
  }

  .button {
    width: 80px;
    background: coral;
    margin-top: 20px;
    border-radius: 10px;
  }

  label {
    width: 80%;
    text-align: left;
    padding-top: 20px;
    color: slategrey;
  }

  textarea {
    width: 80%;
  }

  div {
    display: flex;
    ´flex-direction: column;
    width: 80%;

    input,
    label {
      width: 100%;
    }

    @media all and (min-width: 768px) {
      margin-top: 20px;
      flex-direction: row;
      label {
        width: 20%;
      }
    }
  }
}
