.footer {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: white;

  a {
    text-decoration: none;
  }

  .fab {
    color: $pageColor;
    padding: 10px;
    &:hover {
      color: orange;
    }
  }
}
