// footer {
//   border: 1px solid red;
//   display: grid;
//   grid-template-columns: 1fr 1fr 1fr;
//   grid-template-rows: 1fr 1fr 1fr;
//   grid-gap: 5px;

//   div {
//     background: pink;
//     align-self: center;
//     text-align: center;
//   }

//   ul {
//     list-style: none;
//     margin: 0px;
//     padding: 0px;
//   }

footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;

  @media all and (min-width: 768px) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  p {
    grid-column: span 3;
    align-self: center;
    justify-self: center;

    @media all and (min-width: 768px) {
      grid-column: 1;
      grid-row: 1;
      justify-self: start;
    }
  }

  nav {
    grid-column: span 3;
    align-self: center;
    justify-self: center;

    @media all and (min-width: 768px) {
      grid-column: 2;
      grid-row: span 2;
      justify-self: self-end;
      align-self: center;
    }

    ul {
      padding: 0;
      text-align: center;

      li {
        list-style-type: none;
      }
    }
  }
  div {
    grid-column: span 3;
    align-self: center;
    justify-self: center;

    @media all and (min-width: 768px) {
      grid-column: 1;
      grid-row: 2;
      justify-self: start;
    }
  }
}
